<!DOCTYPE html>
<app-header></app-header>
<div class="all-books-page container">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-12" style="margin:auto;">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-6">
                     <h6>All Books</h6>
                    </div>
                    <div class="col-md-6 col-sm-6 col-6">
                        <div class="all-books-back-button">
                          <a href="#"><p>Back</p></a>
                        </div>
                </div>
            </div>         
      <hr class="hr-line-all-books-page">
      <div class="col-md-12 col-sm-12 col-12 books-list-row">
        <div class="row">
              <div class="book-img-holder" *ngFor="let index of bookStoreData">
                  <img src="{{index.img}}" class="book-img" >
                  <p class="text-truncate">{{index.Name}}</p>
              </div>
        </div>
        <div id="load-more-btn-wrapper">
            <button class="load-more-btn" (click)="loadMore()">Load More</button>
        </div>
        <div id="loadding-gif-icon">
          <img src="assets/loader.gif" class="loading-gif-img" >
         
      </div>
      </div> 
    </div>
  </div>
</div>
