.starter-add-book-template {
    margin-top: 30px;
    text-align: center;
    padding-bottom: 40px;
}

.starter-add-book-template h6{
    text-align: left;
    font-family: sans-serif;
    color: #000000;
    font-weight: 500;
    font-size: 20px;
}

.upload-bulk-books-button{
    border: none;
    background-color: inherit;
    color: #1c75bc;
}


.text-want-upload-bulk-books{
    color: #000000;
    font-family: sans-serif;
    font-size:16px;
    // text-align: right;
}
#upload-bulk-image{
    margin-top: 5rem;

    label{
        width: 100%;
    }
}
.horizontal-line{
    border-top: 1px solid #e2e2e2;
   /*  display: block;
    border-style: inset; */
    margin-top: 0px;
}

.book-details-forms{
    text-align: left;
}


.book-details-forms .form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color:#4c4c4c;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0px !important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.add-book-button-wraper{
    width: 100%;
    text-align: right;
}
.add-book-button-wraper .add-book-cancel-btn{
    background-color: #1c75bc;
    color: #ffffff;
    padding: 0rem 20px;
    border: 2px solid #1c75bc;
    font-size: 16px;
    /* font-weight: 500;*/
    border-radius: 0px;
    font-family: sans-serif;
    margin-right: 5px;
}
.add-book-button-wraper .add-book-proceed-btn{
    background-color: #1c75bc;
    color: #ffffff;
    padding: 0rem 20px;
    border: 2px solid #1c75bc;
    font-size: 16px;
    /* font-weight: 500;*/
    border-radius: 0px;
    font-family: sans-serif;
}

.upload-btn-layout{
    margin: auto;
}
.add-book-skip-button-wrapper{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
.add-book-finish-upload-button-wrapper{
    width: 100%;
    text-align: right;
    margin-bottom: 20px;
}
.add-book-cancel-btn{
    background-color: #1c75bc;
    color: #ffffff;
    padding: 0rem 20px;
    border: 2px solid #1c75bc;
    font-size: 16px;
    /* font-weight: 500;*/
    border-radius: 0px;
    font-family: sans-serif;
    margin-right: 5px;
}
.upload-img-helper-text{
    font-size: 12px;
    margin-top: -68px;
}

@media(max-width:996px){
    .upload-img-helper-text{
        font-size: 12px;
        margin-top: -68px;
    }
}

.add-book-proceed-btn{
    background-color: #1c75bc;
    color: #ffffff;
    padding: 0rem 20px;
    border: 2px solid #1c75bc;
    font-size: 16px;
    /* font-weight: 500;*/
    border-radius: 0px;
    font-family: sans-serif;
}


.book-details-forms label {
    display: inline-block;
    margin-bottom: .3rem;
    font-family: sans-serif;
    font-weight: 500;

    font-size: 15px;
}

.add-book-thumbnail{
    border: 1px solid #e2e2e2;
    height: 150px;
    width: 150px;
    padding: 20px;
    float: left;
}
.starter-add-book-template label{
    text-align: left;
    width: 100%;
    margin-bottom: 0.3rem;
}

@media(max-width:996px){
    .thumbnail-book-image{
        max-height: 80px;
        z-index: 999;
        margin-top: -211px !important;
    }
}
.thumbnail-book-image{
    max-height: 80px;
    width: 60px;
    z-index: 999;
    margin-top: -200px;
}

.input-files-upload-form{
    padding: 30px;
    border: 1px solid #e2e2e2;
    width: 100%;
}
.custom-file-input {
    position: relative;
    z-index: 2;
    width: 100%;
    height: calc(7.25rem + 2px);
    margin: 0;
    opacity: 0;
}
.add-book-text-area{
    border-radius: 0px;
}
.book-details-forms .form-group{
    margin-bottom: 0.2rem;
}
.add-book-thumbnail{
    border: 1px solid #e2e2e2;
    height: 120px;
    width: 120px;
}
.starter-add-book-template label{
    text-align: left;
    width: 100%;
    margin-bottom: 0.3rem;
}
::-webkit-file-upload-button {
    background: #00aeef;;
    color: #ffffff;
    border: none;
    padding: 2px 5px;
    width: 120px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.form-group {
    text-align: left;
    margin-bottom: 1rem;
}
.add-book-text-area{
    border-radius: 0px;
}
.add-images-carousel {
    border: 1px solid #e2e2e2;
    width: 100%;
    height: 210px;
    padding: 10px 50px;
    box-shadow: 0.1rem 0.1rem #4c4c4c!important;
}
.add-images-carousel p{
    font-family: sans-serif;
    color: #a3a3a3;
    text-align: left;
    font-size: 14px;
    font-weight: 200;
    margin-bottom: 0px;
}
.carousel-inside-img{
    width: 70px;
    height: 110px;
}


/** 
  Carousel Styling starts from Here
*/

/* cards*/
.date-section{
    background-color: #fff;
    text-align: center;
    padding: 5px;
}
.card{
    background-color:  #7dd6f6 !important;
    border: 0px !important;
    border-radius: 0px !important;
}
.card-title {
    margin-bottom: 0px !important;
    font-size: 8px;
    float: right;
    color: #fff;
    width: 100%;
    text-align: right;
    margin: 0px;
}
.card-subtitle{
    text-align: right;
    color: #fff;
    margin-top: 0px !important;
    margin-bottom: 10px !important;
    font-size: 10px;
    width: 100%;

}
.card-text{
    font-size: 10px;
    color: #fff;
    text-align: right;
}
.card-date{
   font-size: 40px;
    font-family: Merriweather;
    margin-bottom: 0px;
    line-height: 0.9;
}
.card-day{
    margin-bottom: 0px;
    font-family: Merriweather;
    font-size: 10px;
}
.card-month{
    margin-bottom: 0px;
    font-family: Merriweather;
    font-size: 10px;
}

.card-body{
    padding: 16px !important;
    line-height: 2.5 !important;
}

/* Circular Content Carousel Style */
.appoinments-carousel{
   /* background: #ededed;*/
    padding: 0px;
    width: 1048px;
    height: 120px;
    margin: auto;
    margin-bottom: 20px;
}
.ca-container{
    position:relative;
   /* margin:25px auto 20px auto;*/
    width:100%;
    height:110px;
}
.ca-wrapper{
    width:100%;
    height:100px;
    position:relative;
}
.ca-item{
    position:relative;
    float:left;
    width:100px;
    height:100px;
    text-align:center;
}


.ca-close:hover{
    opacity:1.0;
}
.ca-item-main{
    /*	padding:20px;*/
    position:absolute;
    top:5px;
    left:5px;
    width: 100px;
    height: 100px;
    /*	right:5px;*/
    /*	bottom:5px;*/
    background:#fff;
    overflow:hidden;
    -moz-box-shadow:1px 1px 2px rgba(0,0,0,0.2);
    -webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.2);
    box-shadow:1px 1px 2px rgba(0,0,0,0.2);
}
.slick-slide img {
    display: block;
    height: 100%;
    width: 100%;
}
.ca-icon{
    /*	width:233px;*/
    height:189px;
    position:relative;
    margin:0 auto;
    //background:transparent url(../images/animal1.png) no-repeat center center;
}

.ca-item h3{
    font-family: 'Coustard', sans-serif;
    text-transform:uppercase;
    font-size:30px;
    color:#000;
    margin-bottom:20px;
    height:85px;
    text-align:center;
    text-shadow: 0px 1px 1px #e4ebe9;
}
.ca-item h4{
    font-family: "Georgia","Times New Roman",serif;
    font-style:italic;
    font-size:12px;
    text-align:left;
    border-left:10px solid #b0ccc6;
    padding-left:10px;
    line-height:24px;
    margin:10px;
    position:relative;
}
.ca-item h4 span{
    text-indent:40px;
    display:block;
}
.ca-item h4  span.ca-quote{
    color:#f4eee3;
    font-size:100px;
    position:absolute;
    top:20px;
    left:0px;
    text-indent:0px;
}
.ca-content-wrapper{
    background:#b0ccc6;
    position:absolute;
    width:0px; /* expands to width of the wrapper minus 1 element */
    height:440px;
    top:5px;
    text-align:left;
    z-index:10000;
    overflow:hidden;
}
.ca-content{
    width:660px;
    overflow:hidden;
}
.ca-content-text{
    font-size: 14px;
    font-style: italic;
    font-family: "Georgia","Times New Roman",serif;
    margin:10px 20px;
    padding:10px 20px;
    line-height:24px;
}
.ca-content-text p{
    padding-bottom:5px;
}
.ca-content h6{
    margin:25px 20px 0px 35px;
    font-size:32px;
    padding-bottom:5px;
    color:#000;
    font-family: 'Coustard', sans-serif;
    color:#8c9996;
    border-bottom:2px solid #99bcb4;
    text-shadow: 1px 1px 1px #99BCB4;
}
.ca-content ul{
    margin:20px 35px;
    height:30px;
}
.ca-content ul li{
    float:left;
    margin:0px 2px;
}
.ca-content ul li a{
    color:#fff;
    background:#000;
    padding:3px 6px;
    font-size:14px;
    font-family: "Georgia","Times New Roman",serif;
    font-style:italic;
}
.ca-content ul li a:hover{
    background:#fff;
    color:#000;
    text-shadow:none;
}
.ca-nav span{
    width:25px;
    height:38px;
    background:transparent url(../../../assets/carousel-right-chev.png) no-repeat top left;
    position:absolute;
    top:50%;
    margin-top:-19px;
    left:-40px;
    text-indent:-9000px;
    opacity:0.7;
    cursor:pointer;
    z-index:100;
}
.ca-nav span.ca-nav-next{
    background-position:top right;
    left:auto;
    right:-24px;
}
.ca-nav span:hover{
    opacity:1.0;
}

.helper_text{
    font-size: 12px;
}

.validation-error-message{
    display: none;
    color: red;
    size: 24px;
}

.arrow-span {
    display: inherit; 
    height: 39px;
}

.page-file-input {
    height: 100%;
    width: 100%;
    opacity: 0;
}

.upload_error_message {
    display: none;
    color: red;
    padding: 5%;
}

#error-upload-page{
    padding: 2% !important;
}

.info-add-book{
    color: #4a832c;
}
#add_book_thumbnail_container{
    margin-top: 30px;
}

#add_page_container {
    margin-top: 30px;
}