<main role="main" class="container">
    <div class="row justify-content-center">
        <div class="col-md-7 col-sm-10 col-11">
            <div class="learner-social-login-box shadow">
                <div class="row justify-content-center">
                    <div class="col-md-6 col-sm-6 col-auto">
                        <div class="vedavaapii-logo-holder">
                            <img src="assets/app_logo.png" class="vedavaapii-logo">
                            <h6>Log in as Learner</h6>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-6 col-sm-6 col-auto">
                        <div class="facebook-social-login-holder">
                            <img src="assets/facebook-social-login.png" class="facebook-icon"><span>Log in with Facebook</span>
                        </div>
                        <div class="google-social-login-holder">
                            <img src="assets/google-social-login.png" class="google-icon"><span>Log in with Google</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>


