.learner-social-login-box{
    margin-top: 5rem;
    border: 1px solid #e2e2e2;
    box-shadow: 0.1rem 0.1rem #4c4c4c!important;
   /*  box-shadow: 3px 3px 0px rgba(0,0,0,.3) !important; */
    padding: 20px 0px;
    height: 400px;
}
.vedavaapii-logo{
    height: 37px; 
    margin-top: 20px;
    margin-bottom: 20px;
}
.facebook-icon{
    height: 39px;
}
.google-icon{
    height: 39px;
}
.facebook-social-login-holder{
    border: 1px solid #1c75bc;
    width: 230px;
    font-family: sans-serif;
    margin-bottom: 20px;
    text-align: left;
}

.facebook-social-login-holder span{
    font-family: sans-serif;
    font-weight: 500;
    font-size: 17px;
    padding: 0px 10px;
    color: #4c4c4c;
}

.google-social-login-holder span{
    font-family: sans-serif;
    font-weight: 500;
    color: #4c4c4c;
    font-size: 17px;
    padding: 0px 10px;
}
.vedavaapii-logo-holder h6{
    font-family: sans-serif;
    font-size: 19px;
    color: #000000;
    font-weight: 500;
    margin-bottom: 22px;
}
.google-social-login-holder{
    border: 1px solid #dc4a38;
    width: 230px;
    font-family: sans-serif;
    text-align: left;

}
.vedavaapii-logo-holder{
    width: 230px;
}