.ebhashya_title{
    font-family: 'Myriad Pro Regular';
    color: #4c4c4c;
    text-align: center;
    margin-bottom: 20px;
}

.default-text {
    font-family: sans-serif;
    color: #a3a3a3;
    text-align: left;
    font-size: 15px;
    margin-bottom: 30px;
}
.bottom-back-buttom{
    height: 30px;
    width: 30px;
}
.bottom-back-button-sec{
    text-align: right;
    font-family: sans-serif;
    color: #a3a3a3;
     font-size: 15px;
}
.bottom-href-tag a{
    color: #1c75bc !important;
}
.bottom-href-tag{
    font-family: sans-serif;
    color: #a3a3a3;
    text-align: left;
    font-size: 15px;
}